[submodule "enterprise"]
	path = enterprise
	url = git@github.com:softwaremill/tracevault-enterprise.git
[submodule "website"]
	path = website
	url = git@github.com:softwaremill/tracevault-website.git
